body {
  background: #373F51;
  color: #19171c;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

a {
  color: #fff;
}

h1 {
  color: #F6E27F;
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

span {
  margin-right: 5px;
}

.wrapper {
  color: #fff;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion-container:nth-child(odd) .accordion {
  background: #E5FCF5;
}

.description {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.accordion {
  background: #97ABB1;
  border: solid 2px;
  border-radius: 20px;
  color: #222;
  cursor: s-resize;
  height: 30px;
  padding: 20px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.accordion:hover {
  opacity: 0.7;
}

#answer {
  text-align: center;
  color: #F6E27F;
  font-size: 46px;
  font-weight: bold;
}

#reservation {
  text-align: center;
  color: #fff;
  font-size: 9px;
}

.minus {
  display: none;
}

.active > .plus {
  display: none;
}

.active > .minus {
  display: inline;
}

.active + .description {
  display: block;
}
